@import "variables";

/*------------------------------------------------------------------------------
/*  Basic styles
/*----------------------------------------------------------------------------*/

body {
  overflow-x: hidden;
}

html {
  font-size: @html-font-size;
  overflow-x: hidden;
}

/*------------------------------------------------------------------------------
/*  Imports
/*----------------------------------------------------------------------------*/

@import "./components/HeaderMenu";
@import "components/HeaderMenuItem";
@import "./components/Page";
@import "./components/PageContent";
@import "./components/PageFooter";
@import "./components/PageHeader";
@import "./components/PhoneList";
@import "./components/ScrollProgress";
@import "./components/SiteLogo";
@import "./components/SiteTitle";
@import "./components/SocialList";

/*------------------------------------------------------------------------------
/*  Develoment
/*----------------------------------------------------------------------------*/

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}