/*------------------------------------------------------------------------------
/*  @media
/*----------------------------------------------------------------------------*/

@mobile-widths: ~"(max-width: 549px)";
@tablet-widths: ~"(min-width: 550px)";
@desktop-widths-min: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 960px)";


/*------------------------------------------------------------------------------
/*  Colors
/*----------------------------------------------------------------------------*/

@gray-20: #333333;
@gray-50: #808080;
@gray-80: #cccccc;

@gold: #EDD483;
@gold-dark: darken(@gold, 30%);
@gold-light: #ffa;

@red-stamp: #883e29;

@text-color: @gray-20;
@headings-color: @gray-20;

@container-shadow: 0 0 10px 0 fade(@gray-80, 70%);

@link-color: #0088CC;
@link-color--hover: darken(@link-color, 15%);

@MenuItem-color: @gray-20;
@MenuItem-color--hover: @gold-dark;
@MenuItem-color--active: @gray-20;

@icon-phone-color: @gray-50;
@icon-phone-color--hover: @gold-dark;

@icon-social-color: @gray-50;
@icon-social-color--hover: darken(@gold, 15%);

/*------------------------------------------------------------------------------
/*  Font Sizes
/*----------------------------------------------------------------------------*/

@html-font-size: 10px;
@font-size: 1.3rem;
@font-size--small: 1.1rem;

@font-size--h1: 3rem;
@font-size--h2: 2.4rem;
@font-size--h3: 1.8rem;

@font-size-header-menu: 1.95rem;

@font-size-phone-link--desktop: 2.2rem;
@font-size-phone-link--tablet: 1.8rem;

@line-height-phone-link--tablet: 2.1rem;
@line-height-phone-link--desktop: 2.7rem;

@icon-phone-size--desktop: 2.4rem;
@icon-phone-size--tablet: 2rem;

@icon-social-size--tablet: 3rem;
@icon-social-size--desktop: 3.8rem;

@line-height: 1.4;
@line-height--computed: 1.4rem;

@headings-weight: 700;
@headings-line-height: 1.2;

@font-family: Arsenal, Helvetica, sans-serif;
@font-family-headings: @font-family;

/*------------------------------------------------------------------------------
/*  Directories
/*----------------------------------------------------------------------------*/

@images: "/static/img";