@mobile-width: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

@gray-20: #333333; // text
@gray-50: #808080;
@gray-80: #cccccc; // border

@gold: #ffdc5c;
@darkgold: #ab8f00;
@lightgold: #ffa;

@text-color:     @gray-20;
@headings-color: @gray-20;

@link-color:        #0088CC;
@link-color--hover: darken(@link-color, 15%);



@icon-phone-color: @gold;
@icon-phone-color--hover: @darkgold;