@import '../variables';

.ArticlePreview {
    display: flex;
    height: 90px;
    margin-bottom: 20px;

    color: black;

    box-shadow: 0 1px 5px 1px @gray-80;
    background-color: white;
}

.ArticlePreview__article-type {
    display: flex;

    flex-basis: 70px;
    flex-shrink: 0;

    &--article {
        background-color: @gold-dark;
    }

    &--interview {
        background-color: @red-stamp;
    }
}

.ArticlePreview__article-type-icon {
    width: 60px;
    height: 60px;
    margin: auto;
}

.ArticlePreview__article-type-text {
    display: none;
}

.ArticlePreview__img {
    display: none;
}

.ArticlePreview__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ArticlePreview__title {
    display: flex;
    flex-grow: 1;

    padding: 5px;
    margin: 0;

    // wrapper for vertical centering
    &-wrapper {
        margin: auto;
        text-align: center;
    }

    &-text {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.3em;
    }
}

.ArticlePreview__description {
    display: none;
}

.ArticlePreview__link {
    display: none;
}

/*-----------------------------------------------------------------------------
 *  @mobile-wide-widths
 *----------------------------------------------------------------------------*/

@media @mobile-wide-widths {
    .ArticlePreview {
        display: flex;
        height: 180px;
        margin-bottom: 20px;
    }

    .ArticlePreview__article-type {
        display: flex;

        flex-direction: column;
        flex-basis: 45px;
        flex-shrink: 0;
    }

    .ArticlePreview__article-type-icon {
        width: 45px;
        height: 45px;
        padding-top: 5px;

        flex-basis: 50px;
        flex-grow: 0;
    }

    .ArticlePreview__article-type-text {
        flex-grow: 1;
        display: block;
        text-align: center;
    }

    .ArticlePreview__title {
        display: flex;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .ArticlePreview__description {
        display: block;
        flex-grow: 1;
        padding: 0 10px;
    }

    .ArticlePreview__link {
        display: block;
        flex-basis: 35px;
        flex-shrink: 0;
        padding-right: 25px;
        text-align: right;
        text-decoration: underline;

        & a:visited {
            color: @gray-50;
        }
    }
}

/*-----------------------------------------------------------------------------
 *  @tablet-widths
 *----------------------------------------------------------------------------*/

@media @tablet-widths {
    .ArticlePreview__img {
        display: block;
        flex-basis: 180px;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: #737373;

        img {
            height: 180px;
        }
    }
}
