@import '../variables';

.ContactsNavPanel {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    // fix for falling out space

    svg {
        margin-bottom: -7px;
    }
}

@media @tablet-widths {
    .ContactsNavPanel {
        flex-basis: 638px;
    }
}
