@import '../variables';


.ContactsNavPanel {
    //outline: 1px solid red;
    //background-color: #22aaee;

    //flex: 1 0 568px;

    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}

@media @tablet-widths {
    .ContactsNavPanel{
        flex-basis: 638px;
        //flex-grow: 1;
    }
}
