@import '../variables';



.ContactsInfoPanel {
    display: flex;
    flex-direction: column;
    
    &__phone {
        
    }
    
    &__address {
        
    }
    
    &__email {
        
    }
}

.ContactsInfoPanel__item {
    flex-basis: 80px;
    text-align: center;


    
}



.ContactsInfoPanel__icon {
    fill: @gold-dark;
    width: 40px;
    //margin: 0 auto;
    
    &--phone {
        
    }
    &--address {

    }
    &--email {

    }
}



@media @mobile-widths {

}

@media @mobile-wide-widths {
    .ContactsInfoPanel {
        // Flex Container
        flex-direction: row;

        // Flex Item
        flex-basis: 100px;
        
    }

    .ContactsInfoPanel__item {
        flex-basis: 33%;
        flex-grow: 1;
    }
}

@media @tablet-widths {
    .ContactsInfoPanel {
        // Flex Container
        flex-direction: column;
        justify-content: space-around;
        
        // Flex Item
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 130px;


    }

    .ContactsInfoPanel__item {
        flex-basis: auto;
        flex-grow: 0;
    }
}

@media @desktop-widths {
    
}
