@import '../variables';

.List {
    ul,
    ol {
        list-style: none;
        padding: 0;
        counter-reset: num;
    }

    li {
        padding: 10px 0 10px 40px;
        position: relative;
    }

    li::before {
        content: '';
        position: absolute;
        left: 3px;
        top: 9px;
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
    }

    ol li::before {
        background-color: @gold;
        width: 30px;
        height: 30px;

        left: 0;
        top: 6px;
        border-radius: 50%;
    }

    ol li::after {
        content: counter(num);
        counter-increment: num;
        font-size: 1.9rem;
        position: absolute;
        top: 7px;
        left: 11px;
    }

    &--marker-check {
        li::before {
            background-image: url('../icons/list-marker-check.svg');
        }
    }
    &--marker-plus {
        li::before {
            background-image: url('../icons/list-marker-plus.svg');
        }
    }
    &--marker-minus {
        li::before {
            background-image: url('../icons/list-marker-minus.svg');
        }
    }
    &--marker-cross {
        li::before {
            background-image: url('../icons/list-marker-cross.svg');
        }
    }
    &--marker-dot {
        li {
            padding-left: 20px;
        }

        li::before {
            content: '';
            position: absolute;
            top: 16px;
            left: 0;
            height: 12px;
            width: 12px;
            border-radius: 12px;
            background-color: @gold;
        }
    }
}

.List__title {
    & ~ ul {
        margin-top: 5px;
    }

    margin-top: 10px;
    margin-bottom: 0;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: normal;

    &--h2 {
    }

    &--h3 {
    }

    //display: block;
    //margin: 0 auto;
    //width: 150px;
    text-align: center;
    //position: relative;
    //z-index: 1;
    //
    //& span {
    //    background-color: white;
    //    padding: 0 15px;
    //}
    //
    //&::before {
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    width: 100%;
    //    height: 2px;
    //    background-color: @gray-80;
    //    top: 50%;
    //    z-index: -1;
    //}
}

@media @desktop-widths {
    .List {
        ol li::before {
            width: 29px;
            height: 28px;
            padding-top: 1px;
            padding-left: 0.06em;
        }
    }
}
