@import '../variables';

.List {
    ul,
    ol {
        list-style: none;
        padding: 0;
        counter-reset: num;
    }

    li {
        padding: 10px 0 10px 40px;
        position: relative;
    }

    li::before {
        content: '';
        position: absolute;
        left: 3px;
        top: 9px;
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
    }

    ol li::before {
        content: counter(num);
        counter-increment: num;

        background-color: @gold;
        font-size: 1.1em;
        width: 29px;
        height: 26px;
        padding-top: 3px;
        left: 0;
        top: 8px;
        border-radius: 50%;
        text-align: center;
    }

    &--marker-check {
        li::before {
            background-image: url('../icons/list-marker-check.svg');
        }
    }
    &--marker-plus {
        li::before {
            background-image: url('../icons/list-marker-plus.svg');
        }
    }
    &--marker-minus {
        li::before {
            background-image: url('../icons/list-marker-minus.svg');
        }
    }
    &--marker-cross {
        li::before {
            background-image: url('../icons/list-marker-cross.svg');
        }
    }
}

@media @desktop-widths {
    .List {
        ol li::before {
            width: 29px;
            height: 28px;
            padding-top: 1px;
            padding-left: 0.06em;
        }
    }
}
