@import '../variables';

@keyframes overlay-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes overlay-disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes modal-appear {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes modal-disappear {
    from {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    to {
        transform: scale(0.5);
        opacity: 0;
    }
}
.ReactModal__Body--open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.Modal {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 80vh;
    width: 95vw;
    margin: auto;

    background-color: white;

    font-family: Arsenal, sans-serif;
    font-size: @font-size--mobile;
    line-height: @line-height;

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border: 4px solid @gold-dark;

    outline: none;

    //transition: all 1s ease;

    &--after-open {
        animation: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) modal-appear;
    }

    &--before-close {
        animation: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) modal-disappear;
    }
}

.Modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 100;

    &--after-open {
        animation: 0.35s ease-out overlay-appear;
    }

    &--before-close {
        animation: 350ms ease-out overlay-disappear;
    }
}

.Modal__title {
    flex-basis: 50px;
    flex-shrink: 0;
    display: flex;
    background-color: @orange-light;

    font-size: 1.2em;
    font-weight: bold;

    &-wrapper {
        margin: auto;
    }
}

.Modal__close-icon {
    position: absolute;

    width: 30px;
    height: 30px;

    right: 10px;
    top: 10px;
    background-image: url('../icons/icon-cross.svg');
    cursor: pointer;
}

.Modal__body {
    overflow: scroll;
    padding: 0 10px;
}

.Modal__trigger {
    cursor: pointer;
}

@media @mobile-wide-widths {
    .Modal {
        font-size: @font-size--mobile;
        width: 90vw;
    }

    .Modal__body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .Modal__title {
        font-size: 1.3em;
    }
}

@media @tablet-widths {
    .Modal {
        left: 40px;
        right: 40px;
        font-size: @font-size--tablet;
    }

    .Modal__body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media @desktop-widths {
    .Modal {
        max-height: 80vh;
        width: 900px;
        left: 0;
        right: 0;
        font-size: @font-size--desktop;
    }

    .Modal__body {
        padding-left: 30px;
        padding-right: 30px;
    }
}
