@import '../variables';

.ReactModal__Body--open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.Modal {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 80vh;
    width: 95vw;
    margin: auto;

    background-color: white;

    font-family: Arsenal, sans-serif;
    font-size: @font-size--mobile;
    line-height: @line-height;

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border: 4px solid @gold-dark;

    outline: none;
}

.Modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 100;
}

.Modal__title {
    //outline: 1px solid red;
    flex-basis: 50px;
    flex-shrink: 0;
    font-size: 1.3em;
    display: flex;
    background-color: @orange-light;

    &-wrapper {
        margin: auto;
    }
}

.Modal__close-icon {
    position: absolute;

    width: 30px;
    height: 30px;

    right: 10px;
    top: 10px;
    background-image: url('../icons/icon-cross.svg');
    cursor: pointer;
}

.Modal__body {
    overflow: scroll;
    padding: 0 10px;
}

.Modal__trigger {
    cursor: pointer;
}

@media @mobile-wide-widths {
    .Modal {
        font-size: @font-size--mobile;
        width: 90vw;
    }

    .Modal__body {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media @tablet-widths {
    .Modal {
        left: 40px;
        right: 40px;
        font-size: @font-size--tablet;
    }

    .Modal__body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media @desktop-widths {
    .Modal {
        max-height: 80vh;
        width: 900px;
        left: 0;
        right: 0;
        font-size: @font-size--desktop;
    }

    .Modal__body {
        padding-left: 30px;
        padding-right: 30px;
    }
}
