@import '../mixins';
@import '../variables';

.PageContent {
    background-color: white;
    border-bottom: 4px solid @gold;
    line-height: @line-height;
}

.PageContent a {
    //color: @link-color;
    text-decoration: none;
}

.PageContent__wrapper {
    padding: 0 15px 15px;

    &--gray-bg {
        background-color: @gray-97;
    }
}

@media @mobile-widths {
    .PageContent {
        font-size: @font-size--mobile;
        //min-height: calc(~'100vh - 180px');
    }

    .PageContent__wrapper {
    }
}

@media @mobile-wide-widths {
    .PageContent {
        font-size: @font-size--mobile;
        //min-height: calc(~'100vh - 195px');
    }

    .PageContent__wrapper {
        padding: 0 10px;
    }
}

@media @tablet-widths {
    .PageContent {
        font-size: @font-size--tablet;
        //min-height: calc(~'100vh - 300px');
    }

    .PageContent__wrapper {
        padding: 0 20px 10px;
    }
}

@media @desktop-widths {
    .PageContent {
        font-size: @font-size--desktop;
        //min-height: calc(~'100vh - 385px');
    }
}
