@import '../variables';

.PullQuote {
    margin: 0;
    padding: 15px;
    font-family: 'Alegreya Sans SC', serif;
    font-size: 1.1em;

    &--gray {
        border: 1px solid @gray-90;
        background-color: white;
    }

    &--green {
        border: 1px solid @green;
        background-color: @green-light;
    }

    &--orange {
        border: 1px solid @orange;
        background-color: @orange-light;
    }

    &--red {
        border: 1px solid @red;
        background-color: @red-light;
    }
}

.PullQuote__body {
}

@media @mobile-wide-widths {
    .PullQuote {
        padding: 20px;
    }
}
