@import '../variables';

.PullQuote {
    margin: 0;
    padding: 15px;
    font-family: 'Avenir Next Regular', Arial, sans-serif;
    font-size: 1.1em;

    &--box {
        border: 1px solid @gray-90;
    }

    &--horizontal {
        border: 1px solid @gray-90;
        border-left: none;
        border-right: none;
    }

    &--gray {
        border-color: @gray-90;
        background-color: white;
    }

    &--green {
        border-color: @green;
        background-color: @green-light;
    }

    &--orange {
        border-color: @orange;
        background-color: @orange-light;
    }

    &--red {
        border-color: @red;
        background-color: @red-light;
    }
}

.PullQuote__body {
    &--alignCenter {
        text-align: center;
    }
}

@media @mobile-wide-widths {
    .PullQuote {
        padding: 20px;
    }
}
