@import '../variables';

.TextHeader {
}

.TextHeader__caption {
    text-align: center;
    color: #c9a654;
    font-family: 'Magnolia Script Regular';
    margin-top: 20px;
    margin-bottom: 0;
}

.TextHeader__heading {
    text-align: center;
    font-size: 1.6em;
    margin-top: 0;
    font-family: Montserrat;
    margin-bottom: 10px;
}

@media @mobile-wide-widths {
    .TextHeader__caption {
    }

    .TextHeader__heading {
        font-size: 2em;
        margin-bottom: 15px;
    }
}
