Redirect 301 /udalenie-rubtsov-rastyazhek/udalenie-tatuirovok-sosudov                   http://lasertime.ru/laser-tattoo-removal-moscow
Redirect 301 /udalenie-rubtsov-rastyazhek/udalenie-borodavok                            http://lasertime.ru/laser-wart-removal-moscow
Redirect 301 /udalenie-rubtsov-rastyazhek/udalenie-pigmentnykh-pyaten                   http://lasertime.ru/laser-pigment-spot-removal-moscow
Redirect 301 /omolozhenie/fotoomolozhenie-sovremennye-tekhnologii-krasoty               http://lasertime.ru/fotoomolozhenie-sovremennye-tekhnologii-krasoty
Redirect 301 /omolozhenie/preimushchestva-fraktsionnogo-so2-omolozheniya                http://lasertime.ru/laser-rejuvenation-advantages-moscow
Redirect 301 /omolozhenie/tyanem-potyanem-i-vytyanem-litso-mezonityami                  http://lasertime.ru/meso-threads-moscow
Redirect 301 /omolozhenie/ultrazvukovoj-piling                                          http://lasertime.ru/supersonic-peeling-moscow
Redirect 301 /omolozhenie/italyanskie-niti-dermafil-nappy-lift-revolyutsiya-v-liftinge  http://lasertime.ru/dermafil-happy-lift-threads
Redirect 301 /omolozhenie/konturnaya-plastika-sovremennyj-metod-borby-s-morshchinami    http://lasertime.ru/contour-correction-moscow
Redirect 301 /omolozhenie/mezoterapiya-molodost-i-svezhest                              http://lasertime.ru/mesotherapy-moscow
Redirect 301 /omolozhenie/niti-silhouette-lift-soft                                     http://lasertime.ru/silhouette-lift-soft-threads
Redirect 301 /omolozhenie/biorevitalization-vitalaser                                   http://lasertime.ru/biorevitalization-vitalaser-moscow
Redirect 301 /omolozhenie/fillery-na-osnove-gialuronovoj-kisloty                        http://lasertime.ru/hyaluronic-fillers-moscow
Redirect 301 /plasticheskaya/ritidektomiya-fejslifting-podtyazhka-litsa-i-shei          http://lasertime.ru/ritidectomy-facelifting-moscow
Redirect 301 /omolozhenie/biorevitalization-vitalaser                                   http://lasertime.ru/articles/laser-epilation
Redirect 301 /omolozhenie/lip-augmentation-contouring-plastic                           http://lasertime.ru/articles/laser-epilation

ErrorDocument 404 /404.html
