.ActionSortBar {
  text-align: center;
}

.ActionSortBar__title {
  display: inline-block;

}

.ActionSortBar__toggle {
  display: inline-block;
  color: #999;
  margin: 5px 5px;
  cursor: pointer;

  &:hover {
    color: #ad8f31;
  }

  &--active {
    color: #ad8f31;
    font-weight: bold;
  }
}