.HeaderMenu {
  flex-basis: 80px;
}

.HeaderMenu__items {

  // Reset ul styles
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: space-around;
  height: 80px;
}


.HeaderMenu__item {
  align-self: center;
}


.HeaderMenu__link {
  font-size: @font-size-header-menu;
  border-bottom: 5px solid #fff;
  color: @MenuItem-color;
  text-decoration: none;
  padding: 10px;
  padding-bottom: 5px;
  transition: all .3s ease-out;

  &:hover {
    color: @MenuItem-color--hover;
  }
}

.HeaderMenu__link--active {
  border-bottom: 5px solid @gold;
}
