@import "../variables";

.HeaderMenu {
  display: flex;
}

.HeaderMenu__items {
  margin-left: 0;
}

.HeaderMenu__item {
  margin: 10px;
}

.HeaderMenu__link {
  font-size: 18px;
  border-bottom: 5px solid #fff;
  color: @MenuItem-color;
  text-decoration: none;
  padding: 10px;
  padding-bottom: 5px;
  transition: all .3s ease-out;

  &:hover {
    color: @MenuItem-color-hover;
  }
}

.HeaderMenu__link--active {
  //color: @MenuItem-color-hover;
  border-bottom: 5px solid @gold;
}
