@import "../variables";

.HeaderMenu__items {
  margin-left: 0;
}

.HeaderMenu__item {
  margin: 10px;
}

.HeaderMenu__link {
  border-bottom: 5px solid #fff;
  color: @MenuItem-color;
  text-decoration: none;
  padding: 10px;
  transition: all .3s ease-out;

  &:hover {

    color: @MenuItem-color-hover;
  }
}

.HeaderMenu__link--active {
  color: @MenuItem-color-hover;
  border-bottom: 5px solid @gold-dark;
}