@import "../variables";

.header-menu__items {
  margin-left: 0;
}

.header-menu__item {
  margin: 10px;
}

.header-menu__link {
  border-bottom: 5px solid #fff;
  color: @gray-20;
  text-decoration: none;
  padding: 10px;
  transition: all .3s ease-out;
}

.header-menu__link--active {
  border-bottom: 5px solid @gold-dark;
}