@import "../mixins";
@import "../variables";

.PageContent {
  background-color: #fff;
  border-bottom: 4px solid @gold;

  img {
    width: 100%;
  }
}

.PageContent__wrapper {
  padding: 20px 40px 50px;
  line-height: @line-height;
  //outline: 1px solid red;
}

.PageContent a {
  color: @link-color;
  text-decoration: none;

  &:visited {
    color: @link-color;
  }

  &:hover {
    color: @link-color--hover;
  }
}


@media @mobile-widths {
  .PageContent__wrapper {
    padding: 0 15px;
    font-size: @font-size--mobile;
  }
}

@media @mobile-wide-widths {
  .PageContent__wrapper {
    padding: 0 10px;
    font-size: @font-size--mobile;
  }
}

@media @tablet-widths {
  .PageContent__wrapper {
    padding: 20px 40px 50px;
    font-size: @font-size--tablet;
  }
}

@media @desktop-widths {
  .PageContent__wrapper {
    font-size: @font-size--desktop;
  }
}