@import "../mixins";
@import "../variables";

.Page {
  min-height: 100vh;
  padding-top: 50px;

  font-size: @font-size;
  font-family: Arsenal, sans-serif;

  background: lighten(@gold, 26%) url("../../assets/static/img/Page__bg-pattern.png") 0 0 repeat;
}

.Page__wrapper {
  .container();
  box-shadow: @container-shadow;
  border: 1px solid @gold;
}