@import "../mixins";
@import "../variables";

.PageContent {
  background-color: #fff;
  border-bottom: 4px solid @gold;

  img {
    width: 100%;
  }
}

.PageContent__wrapper {
  padding: 20px 40px 50px;
  //outline: 1px solid red;
}



.PageContent a {

  color: @link-color;

  text-decoration: none;

  &:visited {
    color: @link-color;
  }

  &:hover {
    color: @link-color--hover;
  }
}