@import "../variables";
@import "../mixins";

.PageHeader {
  position: relative;
  z-index: 10;
}

.PageHeader--fixed {
  .container();

  border: 1px solid @gold;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.PageHeader__wrapper {
  background-color: #fff;
}

.PageHeader__items {
  display: flex;
}

.PageHeader__item {
  flex-basis: 38%;

  display: flex;
  flex-direction: column;

  &:nth-child(2) {
    flex-basis: 230px;
    flex-shrink: 0;
  }
}

.PageHeader__link-home {
  display: flex;
  flex-direction: column;
}




