@import "../variables";
@import "../mixins";

.PageHeader {
  position: relative;
  z-index: 10;

  height: 167px;
}

.PageHeader--fixed {
  .container();
  border: 1px solid @gold;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.PageHeader__wrapper {
  background-color: #fff;
  //border-bottom: none;
}

.PageHeader__items {
  display: flex;
}

.PageHeader__item {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  &:nth-child(2) {
    display: block;
    text-align: center;

  }
}

@media @desktop-widths {}