@import "../variables";
@import "../mixins";

.page-header {
  .container();
  border-bottom: 4px solid @gray-80;
}

.page-header__items {
  display: flex;
}

.page-header__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  &:nth-child(2) {
    display: block;
    //justify-content: flex-end;
  }
}

@media @desktop-width {}