@import "../variables";

.PhoneList {
  display: flex;
  flex-basis: 55%;
  flex-grow: 1;
}

.PhoneList__items {
  margin: auto;
  padding-top: 10px;
}

.PhoneList__item {
  padding-left: 40px;
  position: relative;
}

.PhoneList__icon {
  position: absolute;


  &--fixed {
    left: 0px;
    fill: @icon-phone-color;
    height: 25px;
  }

  &--mobile {
    left: 10px;
    fill: @icon-phone-color;
    height: 25px;
  }
}

.PhoneList__link {
  font-size: 21px;
  color: @gold-dark;
  text-decoration: none;
}