@import 'variables';

body {
    overflow-x: hidden;
}

html {
    font-size: @html-font-size;
    letter-spacing: 0.04em;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    line-height: @line-height--h1;
    margin-top: 0;
    padding-top: 20px;
    font-size: 2rem;
}

h2 {
    font-size: @font-size--h2;
    line-height: @line-height--h2;
}

a:hover {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    //border: 1px solid @gray-90;
    font-size: 1.3rem;

    & thead {
        font-family: 'Avenir Next Regular', Arial, sans-serif;
        text-transform: uppercase;
        //color: white;
        letter-spacing: 1px;
        border-bottom: 1px solid @gold;

        & th {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    & tbody tr {
        font-family: 'Avenir Next Regular', Arial, sans-serif;

        // Preset for border coloring on hover
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;

        position: relative;
        background-color: #fff;

        &:nth-child(even) {
            background-color: #fff7ee;
        }

        &:hover {
            //background-color: #f9ecc4;
            //outline: 1px solid @gold-dark;
            border-left-color: @gold-dark;
            border-right-color: @gold-dark;
        }

        & td {
            padding: 5px;

            &:first-of-type {
                width: 60%;
                padding-left: 15px;
            }
        }
    }
}

.clearfix {
    clear: both;
}

@media @mobile-wide-widths {
    h1 {
        font-size: 3rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        //border: 1px solid @gray-90;
        font-size: 1.6rem;

        & thead {
            letter-spacing: 2px;
        }
    }
}
