@font-face {
    font-family: 'Avenir Next Regular';
    src: url('./fonts/AvenirNext/AvenirNextRegular.eot');
    src: url('./fonts/AvenirNext/AvenirNextRegular.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/AvenirNext/AvenirNextRegular.woff') format('woff'),
        url('./fonts/AvenirNext/AvenirNextRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Magnolia Script Regular';
    src: url('./fonts/MagnoliaScript/MagnoliaScriptRegular.eot'),
        url('./fonts/MagnoliaScript/MagnoliaScriptRegular.woff') format('woff'),
        url('./fonts/MagnoliaScript/MagnoliaScriptRegular.ttf')
            format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal';
    src: url('./fonts/Arsenal/arsenal-regular.eot');
    src: url('./fonts/Arsenal/arsenal-regular.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/Arsenal/arsenal-regular.woff2') format('woff2'),
        url('./fonts/Arsenal/arsenal-regular.woff') format('woff'),
        url('./fonts/Arsenal/arsenal-regular.ttf') format('truetype'),
        url('./fonts/Arsenal/arsenal-regular.svg#arsenalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
